<%- include('header'); %>
<div id="form">
    <p class="form-title">管理者情報</p>
    <p>管理者ID：<%= admin.id %></p>
    <p>管理者名:<%= admin.name %></p>
    <p>電話番号:<%= admin.email %></p>
    <p>有効ステータス</p>
    <% if(admin.status === 0) { %>
        <span class="badge valid-badge">有効</span>
    <% } else if(admin.status === 1)  { %>
        <span class="badge invalid-badge">無効</span>
    <% } %>
    <a href="/admin_edit/<%=　admin.id %>">編集画面へ</a>
</div>
<style>
    .badge {
      padding: 3px 6px;
      margin-right: 8px;
      margin-left: 1px;
      font-size: 75%;
      color: white;
      border-radius: 6px;
      box-shadow: 0 0 3px #ddd;
      white-space: nowrap;
    }
    
    .valid-badge {
      background-color: #58ACFA; /*青*/
    }
    
    .invalid-badge {
      background-color: red; /*緑*/
    }

        /* layout */
        #form{
      width: 500px;
      margin: 100px auto;
      padding: 20px;
      border: 1px solid #555;
      }
    
    form p{
        font-size: 20px;
        }
    
    .form-title{
      text-align: center;
      }
    
    .mail,.pass{
      margin-bottom: 20px;
      }
    
    input[type="email"],
    input[type="password"] {
      width: 300px;
      padding: 4px;
      font-size: 14px;
      }
        
    .submit{
      text-align: right;
      }
    
    /* font */
    #form p{
      color: #077685;
      font-weight: bold;
      }
    
    #form .form-title{
      font-family: Arial;
      font-size: 30px;
      color: #4eb4c2;
      }
    
    /* skin */
    #form{
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0px 1px 10px #488a9e;
      -moz-box-shadow: 0px 1px 10px #488a9e;
      box-shadow: 0px 1px 10px #488a9e;
      border: solid #4eb4c2 1px;
      background: #fafafa;
      }
    
    #form .form-title{
      padding-bottom: 6px;
      border-bottom: 2px solid #4eb4c2;
      margin-bottom: 20px;
      }
    
    .submit input{
      font-family: Arial;
      color: #ffffff;
      font-size: 16px;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      text-decoration: none;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 8px 6px #e3e3e3;
      -moz-box-shadow: 0px 8px 6px #e3e3e3;
      box-shadow: 0px 8px 6px #e3e3e3;
      border: solid #f5fdff 4px;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#61c7e0), to(#418da8));
      background: -moz-linear-gradient(top, #61c7e0, #418da8);
      }
    .submit input:hover{
      background: #37a4bf;
     }
</style>