<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <div class="title">オーナー情報</div>
  </div>
  <div class="main">
    <div class="contents">
      <div class="">
        <ul>
          <li>
            <span><%= owners.id %></span>
            <span><%= owners.name %></span>
            <span><%= owners.tel %></span>
            <span><%= owners.email %></span>
          </li>
        </ul>
      </div>
      <div class="">

        <form action="/client_delete/<%= owners.id %>" method="POST">
        <input  type="submit" value="削除">
        </form>

        <a href="/client_edit/<%= owners.id %>">編集</a>

      </div>
    </div>
  </div>
</body>
</html>