<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="statics/ss/style.css">
  <title><%= owners.name %>の情報表示</title>
</head>
<body>
<%- include('header'); %>

  <!-- <div class="header">
    <div class="title">オーナー情報</div>
  </div> -->

  <div class="main">
    <div class="contents">
      <div class="">
        <tr>
          
            <td><%= owners.id %></td>
            <td><%= owners.name %></td>
            <td><%= owners.tel %></td>
            <td><%= owners.email %></td>
          
        </tr>
      </div>
      <div class="">

        <form action="/client_delete/<%= owners.id %>" method="POST">
        <input  type="submit" value="削除">
        </form>

        <a href="/client_edit/<%= owners.id %>">編集</a>

      </div>
    </div>
  </div>
</body>
</html>

<style>
  .main{
    width:500px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #555;
  }

  



</style>