<%- include('header'); %>
    <p>ユーザーID：<%= shop.id %></p>
    <p>クリニック名:<%= shop.name %></p>
    <p>電話番号:<%= shop.tel %></p>
    <p>オーナー:<%= shop.owner_id %></p>
    <p>有効ステータス</p>
    <% if(shop.status === 0) { %>
        <span class="badge valid-badge">有効</span>
    <% } else { %>
        <span class="badge invalid-badge">無効</span>
    <% } %>
    <a href="/clinic_edit/<%=　shop.id %>">編集画面へ</a>
</form>

<style>
    .badge {
      padding: 3px 6px;
      margin-right: 8px;
      margin-left: 1px;
      font-size: 75%;
      color: white;
      border-radius: 6px;
      box-shadow: 0 0 3px #ddd;
      white-space: nowrap;
    }
    
    .valid-badge {
      background-color: #58ACFA; /*青*/
    }
    
    .invalid-badge {
      background-color: red; /*緑*/
    }
</style>